#!/usr/bin/make -f

#
#   2014.03.23 Brian Elliott Finley <brian@thefinleys.com>
#   - created, based on the excellent examples here:
#     https://wiki.debian.org/IntroDebianPackaging
#   

%:
	dh $@

ossmverride_dh_auto_install:
	$(MAKE) DESTDIR=$$(pwd)/debian/$(package) prefix=/usr install

override_dh_compress:
	# We wanna keep these files uncompressed -BEF-
	#dh_compress --exclude=path/to/some_file

